*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.smallhead{
    display: flex;
    align-items: center;
}

.smallhead h2{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
    letter-spacing: 0%;
    color: #DE2E54;
    margin-left: 16px;    
}

.h2head{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #222222;
    display: flex;
    align-items: center;    
}

.h2header{
    color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    padding: 12px 24px;
}

.first{
    background-image: url(./img/image\ 4.png);
    background-repeat: no-repeat;
}

.sectionfirst{
    display: flex;
}

.sectionfirst h2{
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: 0px;
    color: white;
    margin-top: 137px;
    margin-bottom: 48px;
    margin-right: 199px;   
}

.sectionfirst button{
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    color: white;
    background-color: #DE2E54CC;
    width: 189px;
    height: 47px;
    border-radius: 8px;    
}

.sectionfirst img{
    margin-top: 50px;
}

.secondsection h2{
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: 0px;
    margin-top: 65px;
    text-align: center;
    margin-bottom: 30px;    
}

.seconddiv{
    display: flex;
    width: 864px;
    justify-content: space-between;
    margin-left: 118px;
    margin-bottom: 80px;
}

.small h3{
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0px;
    margin-bottom: 24px;    
}

.small p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #444444;    
}

.third{
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 100px;
}

.third h1{
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    line-height: 77.45px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 111px;    
}

.smallthird{
    display: flex;
}

.smallthird img{
    margin-right: 68px;
}

.inputs{
    background-color: white;
    width: 540px;
    height: 331px;
    border-radius: 10px;
    padding: 27px 40px 51px 40px;    
}

.inputs input{
    border: 1px;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    width: 460px;
    height: 39.10548400878906px;
    margin-bottom: 13px;        
}

.inputs button{
    width: 460px;
    height: 39.10548400878906px;
    border-radius: 5px;
    text-align: center;
    background-color: #38CC8B;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;        
}

footer{
    background-color: black;
}

.footer{
    display: flex;
    align-items: center;
    height: 98px;
}

.words{
    width: 276px;
    display: flex;
    justify-content: space-between;
    margin-left: 639px;
}

.words h4{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: white;    
}